.team{

    .row{
        gap: 30px;
        flex-wrap: wrap;

        .column{
            @include XLarge{
                flex: 0 0 100%;
            }
        }
    }

    .team-box{
        padding: 2rem 1rem;
        background-color: #f1f2f6;

        img{
            max-width: 100%;
            height: auto;
        }

        .team-box-content{
            text-align: center;
        }
    }
}