.info-box{
    text-align: center;
    i{
        font-size: 30px;
        color: $light-purple-color;
    }

    h3{
        padding: 10px 0;
        font-weight: 800;
        font-size: 18px;
    }

    p{
        font-weight: 300;
        font-size: 14px;
    }
}