.reason{
    text-align: right;

    .MainTitles{
        text-align: right !important;

        &::after{
            margin: 1rem 0 0 auto!important;
            direction: rtl;
            text-align: right !important;
        }
    }
}

.reason-image{
    width: 500px;
    height: 300px;
    background: url("../../Img/pic1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    border-radius: 3px;
}