.description{



    .wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 2rem;



        .desc-box{
            width: 200px;
            text-align: center;
            border: 1px solid #ecf0f1;
            border-radius: 3px;
            padding: 16px;
            @include XLarge{
                flex: 1 1 50%;
            }


            .DescTitle{
                font-size: 16px !important;
                font-weight: bold !important;
                color: $dark-color;
                font-family: $main-persian-font !important;
            }
            
            
            .desc-para{
                color: $light-gray-color;
                margin: 1rem 0;
                font-weight: 300;
            }
            
            .des-ico{
                color: $light-purple-color;
                font-size: 25px;
            }
            
            
            .desc-link{
                color: $light-purple-color;
            
                &:hover{
                    color: $light-gree-color;
                }
            }
        }
    }
}

