.description{
    padding: 16px;
    border: 1px solid $light-gray-color;
    border: 3px;
}

.DescTitle{
    font-size: 16px;
    font-weight: 400;
    color: $dark-color;
}


.DescPara{
    color: $light-gray-color;
}