.footer{
    background-color: $dark-color;
    padding: 2rem 0;

    .container{
        @include flexCenter;
        flex-direction: column;
        h2{
            font-size: 40px;
            font-weight: 700;
            color: #fff;
            margin-bottom: 2.5rem;
        }

        p{
            color: $light-gray-color;
            span{
                color: $light-purple-color;
            }
        }
    }
}