.footer{
    background-color: $dark-color;
    padding: 2rem 0;

    .container{
        @include flexCenter;
        flex-direction: column;
        h2{
            font-size: 40px;
            font-weight: 700;
            color: #fff;
            margin-bottom: 2.5rem;
        }

        p{
            color: $light-gray-color;
            span{
                color: $light-purple-color;
            }
        }

        .social-boxes{
            @include flexCenter;
            flex-wrap: wrap;
            gap: 15px;
            margin-bottom: 1rem;

            .social-area{
                width: 55px;
                height: 55px;
                border-radius: 2px;
                background-color: $light-purple-color;
                @include flexCenter;

                i{
                    color: #fff;
                    font-size: 18px;
                }
            }
        }
    }
}